<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
   <title>Spread Deal 확정 납사가격 통보</title>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>

<body>
	<table style="border: 1px solid;width:780px;font-family:맑은 고딕;background-color:#F6F6F6;">
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td><p style="text-align:left;text-indent:176.0pt;"><b><u><span style="font-size:22.0pt;line-height:115%;color:black;font-family:맑은 고딕;">MEMORANDUM</span></u></b></p></td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td>
				<table style="width:100%;">
					<tr>
						<tr>
						<td><p style="punctuation-wrap:simple;vertical-align:bottom;"><b><span style="font-size:15.0pt;line-height:115%;color:black;letter-spacing:3.0pt;font-family:맑은 고딕;">수신:</span></b></p></td>
						<td>
							<p style="punctuation-wrap:simple;vertical-align:bottom">
								<span style="font-size:13.0pt;line-height:115%;color:black;font-family:맑은 고딕;">
								자금팀장
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
							</p>
						</td>
						<td align="right" style="padding-right:70px;font-family:맑은 고딕;">$date1</td>
					</tr>
					<tr>
						<td colspan="3" style="border:none;border-bottom:dotted windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt"></td>
					</tr>
					<tr>
						<td><p style="punctuation-wrap:simple;vertical-align:bottom"><b><span style="font-size:15.0pt;line-height:115%;color:black;letter-spacing:3.0pt;font-family:맑은 고딕;">발신:</span></b></p></td>
						<td colspan="2"><p style="punctuation-wrap:simple;vertical-align:bottom"><span style="font-size:13.0pt;line-height:115%;color:black;font-family:맑은 고딕;">$sender</span></p></td>
					</tr>
					<tr>
						<td colspan="3" style="border:none;border-bottom:dotted windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt"></td>
					</tr>
					<tr>
						<td><p style="punctuation-wrap:simple;vertical-align:bottom"><b><span style="font-size:15.0pt;line-height:115%;color:black;letter-spacing:3.0pt;font-family:맑은 고딕;">제목:</span></b></p></td>
						<td colspan="2"><p style="punctuation-wrap:simple;vertical-align:bottom"><b><span style="font-size:13.0pt;line-height:115%;color:black;font-family:맑은 고딕;">Spread Deal 확정 납사가격 통보</span></b></p></td>
					</tr>
					<tr>
						<td colspan="3" style="border:none;border-bottom:dotted windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt"></td>
					</tr>
				</table>
			</td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td style="border:none;border-bottom:solid windowtext 1.5pt;padding:0cm 1.4pt 0cm 1.4pt;height:26.1pt"></td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td style="padding-top:50px;padding-bottom:50px;">
				<table>
					<tr>
						<td>
							<span style="font-size:14.0pt;color:black;font-family:맑은 고딕;">
							1.&nbsp;&nbsp;송부 기준일 : $date1
							</span>
							<br/><br/>
							<span style="font-size:14.0pt;color:black;font-family:맑은 고딕;">
							2.&nbsp;&nbsp;송부사유 : $date2에 $book팀 $trader이 Spread Deal로 요청하신 $ass_month Naphtha 거래가 $date1에 $price원으로 체결되었습니다.
							</span>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td style="padding-bottom:40px;"><span style="font-size:12.0pt;color:black;font-family:맑은 고딕;"><b>사본처 :</b> Trading사업부장, Trading1팀장, Trading2팀장 , RM팀장</span></td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
	</table>
</body>
</html>

