<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <title>선적 의뢰 통보서</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 </head>

 <body>
	<table style="border: 1px solid;width:780px;font-family:맑은 고딕;background-color:#F6F6F6;">
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td><p style="text-align:center;"><b><u><span style="font-size:22.0pt;line-height:115%;color:black;font-family:맑은 고딕;">선적 의뢰 통보서</span></u></b></p></td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td>
				<table style="width:100%;">
					<tr>
						<td style="width:65px;"><p style="punctuation-wrap:simple;vertical-align:bottom;"><b><span style="font-size:15.0pt;line-height:115%;color:black;letter-spacing:3.0pt;font-family:맑은 고딕;">수신:</span></u></b></p></td>
						<td><p style="punctuation-wrap:simple;vertical-align:bottom"><span style="font-size:13.0pt;line-height:115%;color:black;font-family:맑은 고딕;">$toUser</span></p></td>
						<td align="right" style="padding-right:70px;font-family:맑은 고딕;">$date</td>
					</tr>
					<tr>
						<td colspan="3" style="border:none;border-bottom:dotted windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt"></td>
					</tr>
					<tr>
						<td><p style="punctuation-wrap:simple;vertical-align:bottom"><b><span style="font-size:15.0pt;line-height:115%;color:black;letter-spacing:3.0pt;font-family:맑은 고딕;">발신:</span></u></b></p></td>
						<td colspan="2"><p style="punctuation-wrap:simple;vertical-align:bottom"><span style="font-size:13.0pt;line-height:115%;color:black;font-family:맑은 고딕;">$sender</span></p></td>
					</tr>
					<tr>
						<td colspan="3" style="border:none;border-bottom:dotted windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt"></td>
					</tr>
					<tr>
						<td><p style="punctuation-wrap:simple;vertical-align:bottom"><b><span style="font-size:15.0pt;line-height:115%;color:black;letter-spacing:3.0pt;font-family:맑은 고딕;">제목:</span></u></b></p></td>
						<td colspan="2"><p style="punctuation-wrap:simple;vertical-align:bottom"><b><span style="font-size:13.0pt;line-height:115%;color:black;font-family:맑은 고딕;">$title</span></b></p></td>
					</tr>
					<tr>
						<td colspan="3" style="border:none;border-bottom:dotted windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt"></td>
					</tr>
				</table>
			</td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td style="border:none;border-bottom:solid windowtext 1.5pt;padding:0cm 1.4pt 0cm 1.4pt;height:26.1pt"></td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td style="padding-top:50px;padding-bottom:50px;">
				<table style="width:725px;border-collapse:collapse;font-family:맑은 고딕;">
					<tr>
						<td style="border:1px solid;width:125px;text-align:center;background-color:#EAEAEA;"><b>의뢰번호</b></td>
						<td style="border:1px solid;width:600px;padding:0px;">
							<table style="width:100%;border-collapse:collapse;font-family:맑은 고딕;">
								<tr>
									<td style="border-bottom:1px solid;border-right:1px solid;width:50%;text-align:center;background-color:#EAEAEA;height:27px;"><b>Order No</b></td>
									<td style="border-bottom:1px solid;width:50%;text-align:center;background-color:#EAEAEA;"><b>Shipment No</b></td>
								</tr>
								<tr>
									<td style="text-align:center;border-right:1px solid;height:27px;">11512147</td>
									<td style="text-align:center;">119879</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>선박명</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">MT Woo Hyeon</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>제품명</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">MIXED XYLENE</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>출하 Tank</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">P-T 4799 OR 5513 OR 4754에서 선적하여 주시기 바랍니다.</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>출하 기준</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">Shore Tank에서의 선적 전/후의 축정결과 기준</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>수량(B/L)</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">2,850 ~ 2,870MT (2,850 근접선적)</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>규격</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">첨부규격</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>품질</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;padding-right:10.0pt;">선적직전 Shore Tank에서 채취한 Sample의 분석 결과를 공급제품의 품질로 확정</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>고객명</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">Mitsubishi Corporation</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>LAYCAN</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">2013.07.25~28<b>(ETA ULSAN : 7/28)</b></td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>LAYTIME</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">100 MTPH for loading shinc</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>도착지</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">Oita, Japan</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>선박제원</b></td>
						<td style="border:1px solid;padding:0px;">
							<table style="width:100%;border-collapse:collapse;font-family:맑은 고딕;">
								<tr>
									<td style="border-bottom:1px solid;border-right:1px solid;width:20%;text-align:center;background-color:#EAEAEA;height:27px;"><b>Built</b></td>
									<td style="border-bottom:1px solid;border-right:1px solid;width:20%;text-align:center;background-color:#EAEAEA;"><b>Dwt</b></td>
									<td style="border-bottom:1px solid;border-right:1px solid;width:20%;text-align:center;background-color:#EAEAEA;"><b>Draft</b></td>
									<td style="border-bottom:1px solid;width:40%;text-align:center;background-color:#EAEAEA;"><b>Demurrage</b></td>
								</tr>
								<tr>
									<td style="text-align:center;border-right:1px solid;height:27px;">2003</td>
									<td style="text-align:center;border-right:1px solid;">3,466.427</td>
									<td style="text-align:center;border-right:1px solid;">5.813</td>
									<td style="text-align:center;">USD 8,500 PDPR</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>검정사</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">유닉검정</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>선박대리점</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">Woolim Ulsan Office (Tel : 052-261-2785)</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>국내담당자</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;">이진주 과장 02-2121-7078<br/>추승원 사원 02-2121-6826</td>
					</tr>
					<tr>
						<td style="border:1px solid;text-align:center;background-color:#EAEAEA;height:27px;"><b>특기사항</b></td>
						<td style="border:1px solid;text-align:left;padding-left:10.0pt;padding-right:10.0pt;">P-T4754 : Lotte 출하 스케쥴이 없을 때에 한하여 출하 부탁드립니다.</td>
					</tr>
				</table>
			</td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="height:25px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="width:25px;">&nbsp;</td>
			<td style="padding-bottom:40px;">
				<span style="font-size:12.0pt;color:black"><b>사본처 :</b> 기획재무팀장, 품질관리팀장, 생산관리팀장</span>
			</td>
			<td style="width:25px;">&nbsp;</td>
		</tr>
	</table>
 </body>
 </html>